@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#modal-container {
  width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 20px 30px;
  border: 2px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 250px;
  right: 0;
  left: 0;
  transition: transform 0.5s;
  z-index: 2;
}

#modal-container.hidden {
  transform: translate(0, -500px);
}

.confirm-text {
  text-align: center;
  padding: 0 20px;
}

.confirm-button {
  width:200px;
  /* height: 100px; */
  margin: 0 auto;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* text-align: center; */
}

#mask.hidden {
  display: none;
}
