@charset "utf-8";

table {
  margin-bottom: 12px;
}

input {
  border: none;
}

textarea {
  margin: 0;
  field-sizing: content;
  min-width: 500px;
  /* max-width: 1000px;
  min-height: min-content; */
  padding: 10px 10px;
  border: none;
}

.transition-btn {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}

.transition-btn a {
  margin-right: 8px;
}

#insertError {
  color: red;
  text-align: center;
}