@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-top: 128px;
}

.title, form, .signup, .changePassword {
  text-align: center;
}

form {
  margin-bottom: 18px;
}

input {
  margin-right: 8px;
}

.signup {
  margin-bottom: 6px;
}